/* Aserto SDK Page - set to Aserto's light and dark theme */

.languagePageTitle {
    font-size: 32px;
    color: #121212;
}

html[data-theme='dark'] .languagePageTitle {
    color: #a0a0a0;
}

.languagesDiv {
    display: flex;
    flex-wrap: wrap;
}
