.howto {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background: #376EBF;
  flex-direction: column;
}

.howtoContainer {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  width: 80%;
  margin: 0 auto;
  font-family: "Roboto";
  margin-top: 70px;
}

.howtoListContainer {
  margin-bottom: 80px;
}

.howtoListItem {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  width: 90%;

  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: 500;
  border-radius: 11px;
  padding: 20px;
}

.howtoListItemIcon {
  flex: 3;
  height: 70px;
  width: 70px;
  overflow: visible;
  margin-top: -10px;
}

.howtoListItemText {
  flex: 8;
  margin-left: 20px;
  margin-bottom: 10px;
  align-self: center;
  font-size: 20px;
}

.howtoTitle {
  font-size: 2em;
  margin-top: 70px;
  margin-bottom: 40px;
  font-weight: 700;
}
