.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featuresContainer {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  width: 80%;
  margin: 0 auto;
  font-family: "Roboto";
  margin-top: 70px;
}


.featuresIconContainer {
  flex: 8;
  align-self: center
}

.featuresIcon {
  background: url('@site/static/img/icons/features.svg') no-repeat top left;
  background-size: contain;
  height: 400px;
}

.featuresListContainer {
  flex: 8
}

.featureListItem {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  font-weight: 500;
  margin-bottom: 10px;

}

.featureListItemIcon {
  flex: 3;
  align-self: center;
}

.featureListItemText {
  flex: 8;
  margin-left: 25px;
  font-size: 20px;
}
