.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: #376EBF;
}

.featuresTitle{
  color: white;
  font-size: 30px;
  font-weight: 600px;

}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featuresContainer {
  display: flex;

  align-items: stretch;
  align-content: stretch;
  width: 80%;
  margin: 0 auto;
  font-family: "Roboto";
  margin-top: 20px;
}



.featuresIcon {
  background: url('@site/static/img/icons/features.svg') no-repeat top left;
  background-size: contain;
  height: 400px;
}

.featuresListContainer {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.featureListItem {
  display: flex;
  margin: 20px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  flex: 1;
  font-weight: 500;
  margin-bottom: 10px;
  background-color: black;
  border-radius: 11px;
}

.featureListItemTitle {
  color: white;
  font-weight: 700;
  align-items: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.featureListItemIcon {
  flex: 3;
  align-self: center;
  margin-bottom: 20px;
}

.featureListItemText {
  flex: 8;
  margin-left: 25px;
  font-size: 20px;
  color: #A0A0A0;
  font-weight: 400;
}

@media screen and (min-width: 555px) and (max-width: 996px) {
  .featuresListContainer {
    flex-direction: column;
  }
}

@media screen and (min-width: 997px) {
    .featuresListContainer {
      flex-direction: row;
    }
}
