.header {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: rgb(0,0,0);
  height: 800px;
}

@media screen and (max-width: 996px) {
  .header {
    padding: 2rem;
  }
}

.buttonContainer {
  display: flex;
  align-items: center;
  margin-top: 25px;
  z-index: 10;
}

.primaryButton {
  color: white;
  background-color: #2072C0;
  border-radius: 3px;
  font-size: 18px;
}

.topGradient {
  background: linear-gradient(180deg,rgb(74,146, 255) 0%, rgb(0,0,0,0) 100%);
  position: absolute;
  top:0;
  height: 284px;
  border: 1px none;
  width: 100%;
}

.bottomGradient {
  background: linear-gradient(0deg,rgb(74,146, 255) 0%, rgb(0,0,0,0) 100%);
  position: absolute;
  top:0;
  border: 1px none;
  width: 100%;
  position: relative;

}

.container {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  height: 300px;
  padding: 20px;
  width: 90%;

  margin: 0 auto;
  font-family: "Roboto"
}


.bottomContainer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 800px;
  width: 100%;

  margin: 0 auto;
  font-family: "Roboto";
  padding-top: 100px;
}

.bottomLogoAndButton {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 800px;
  width: 100%;

  margin: 0 auto;
  font-family: "Roboto";
  padding-top: 100px;
}

.bottomGradient {
  background: linear-gradient(0deg, #4A92FF -20.62%, rgba(0, 0, 0, 0) 100%);
  bottom: 40px;
  height: 600px;
  width: 100%;
  margin-top: -200px;
  z-index: 1;
}



.text {
  flex: 8
}

.mainLogo {
  background: url('../../static/img/mainLogo.svg') no-repeat top left;
  background-size: contain;
  flex: 5;
  height: 400px;
  align-self: center;

}

.bottomLogo {
  background: url('../../static/img/bottomLogo.svg') no-repeat top center;
  background-size: contain;
  flex: 5;
  align-self: center;
  width: 100vw;
  margin: 0 auto;
  margin-bottom: 30px;
}

.topTextContainer {
    display: flex;
    margin-right: 20px;
    margin-left:  20px;
    line-height: 40px;
    flex-direction: column;
    float: right;
    align-content: flex-start;
    text-align: left;

}

.title {
  font-size: 60px;
  line-height: 70px;
  font-weight: 400;
  font-family: "Roboto";
  color: white;
}

.subtitle {
  font-size: 30px;
  line-height: 38.7px;
  font-weight: 600;
  font-family: "Roboto";
  color: white;
}

.highlight {
  color: #4A92FF
}

.topBody {
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto";
  color: #A0A0A0;
}
