.languages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: #1E1E1E;
  justify-content: center;
}

.languagesTitle{
  color: white;
  font-size: 30px;
  font-weight: 600;
  text-align: center;

}

.languagesSubtitle {
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.languageSvg {
  height: 200px;
  width: 200px;
  align-self: center;
}

.languagesContainer {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  font-family: "Roboto";
  margin-top: 20px;

}


.languagesIconContainer {
  flex: 8;
  align-self: center
}


.languagesListContainer {
  flex: 8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}






.languageListItemTitle {
  color: white;
  font-weight: 700;
  align-items: center;
  align-self: center;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}


.languageListItemText {
  flex: 8;
  font-size: 20px;
  color: #A0A0A0;
  font-weight: 400;
  color: white;
  font-weight: 700;
}


@media screen and (max-width: 767px) {
  .languagesContainer {
    display: flex;

    align-items: stretch;
    align-content: stretch;

    font-family: "Roboto";
    margin-top: 20px;
    width: 100%;

  }

  .languagesTitle{
    margin-bottom: 20px;
  }

  .languagesSubtitle {
    padding: 10px;
  }

  .languagesListContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 100%;
  }


  .languageListItem {
    display: flex;
    width: 90%;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: black;
    border-radius: 11px;
    border: 1px solid #717171;
    padding: 10px;
  }

  .languageListItemIcon {
    flex: 3;
    align-self: center;

    height: 3.2em;
    width: 3em;
  }

  .languageListItemText {
    margin-left: 20px;
    font-size: 18px;
    justify-content: center;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 996px) {
  .languagesContainer {
    display: flex;

    align-items: stretch;
    align-content: stretch;

    font-family: "Roboto";
    margin-top: 20px;


  }
  .languagesListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


  }
  .languageListItem {
    display: flex;
    width: 90%;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;

    border-radius: 11px;
    border: 1px solid #717171;
  }

  .languageListItemIcon {
    flex: 3;
    align-self: center;
    margin-bottom: 20px;
    height: 80px;
    width: 75px;
  }

  .languageListItemText {
    margin-left: 0px;
  }

  .languageListItem {
    display: flex;
    margin: 10px;
    padding: 10px;
    height: 167px;
    width: 167px;
    flex-direction: column;
    align-items: center;
    flex: 1;
    font-weight: 500;
    margin-bottom: 10px;
    background-color: black;
    border-radius: 11px;
    border: 1px solid #717171;
  }
}

@media screen and (min-width: 997px) {
  .languagesContainer {
    display: flex;

    align-items: stretch;
    align-content: stretch;

    font-family: "Roboto";
    margin-top: 20px;


  }
  .languagesListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


  }
  .languageListItem {
    display: flex;
    width: 90%;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;

    border-radius: 11px;
    border: 1px solid #717171;
  }

  .languageListItemIcon {
    flex: 3;
    align-self: center;
    margin-bottom: 20px;
    height: 80px;
    width: 75px;
  }

  .languageListItemText {
    margin-left: 0px;
  }

  .languageListItem {
    display: flex;
    margin: 20px;
    padding: 20px;
    height: 187px;
    width: 187px;
    flex-direction: column;
    align-items: center;
    flex: 1;
    font-weight: 500;
    margin-bottom: 10px;
    background-color: black;
    border-radius: 11px;
    border: 1px solid #717171;
  }
}
